.search-bar {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  transition: border-color 0.3s ease-in-out;
  position: relative;
  border-radius: 16px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.search-bar:hover {
  border-color: #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input {
  padding: 8px;
  border: none;
  outline: none;
}

.search-icon {
  margin-left: 8px;
  color: gray;
}
