/* text */

html {
  font-size: 14px; /* Đặt kích thước cơ sở là 16px */
}

.medium_text {
  font-size: 2rem; /* Kích thước chữ là 2 lần kích thước cơ sở */
}

.large_text {
  font-size: 3rem;
}

.small_text {
  font-size: 1rem;
  margin-top: 1.86%;
  margin-bottom: 1.86% ;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 1rem;
}

.title {
  font-size: 1.8rem;
  color: #714534;
  font-weight: 550
}
  

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 4%;
  margin-left: 2.64%;
  margin-right: 2.64%;
}

.notification-list {
  position: absolute;
  background-color: #714534;
  margin-right: 2%;
  right: 0px;
  width: 15%;
  padding: 5px;
}

.notification-item {
  font-size: 12px; 
  font-family: "Montserrat", sans-serif;
  color: white
}

.notification-count {
  position: absolute;
  top: -6px;
  right: -6px;
  color: red;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}

/* style */

.search-input {
    border: none; /* Loại bỏ viền */
    background-color: transparent; /* Đặt màu nền là trong suốt */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Tạo bóng phía dưới */
    border-radius: 10px;
}

.content {
  flex-direction: column;
  text-align: left;
}

.line {
  /* margin-top: 0.88%; */
  margin-top: 2.05%;
  margin-left: 3%;
  margin-bottom: 2.05%;
  width: 240px;
  /* width: 26%; */
  border-width: 0.6px;
  border-style: solid;
  border-color: #714534;
  opacity: 0.6; /* Giá trị opacity để làm mờ màu */
}

.icon {
    color: #714534;
    
}

.term&condition {
    height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.visible {
    height: auto;
}
  
.hidden {
height: 0;
}

/* img */
.avatar-image {
  width: auto;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
}

.notification-icon {
  position: absolute;
  top: 2px;
  right: 0;
}