.login-page {
  display: flex;
  height: 100vh;
}

.image-section {
  display: flex;
  flex: 1;
  background-image: url(background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-section {
  display: flex;
  flex: 1;
  background-color: #f9f8fb;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4%;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 30px;
}

.form {
}

.formgr {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 300px;
  padding: 5px;
}
.remember-forgot {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.remember {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: #714534;
}
.forgot {
  margin-right: auto;
  margin-left: 70px;
  color: #714534;
}
.buttonLogin {
  background-color: #714534;
  color: #ffffff;
  padding: 10px 80px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
}
.welcome {
  font: 750 25px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  /* font-weight: bold; */
  color: 'black';
  margin-bottom: 5px;
}
.please {
  font-size: 16px;
  font-size: medium;
  color: #412d26;
}

.inPutText {
  width: 320px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Kích thước mong muốn */
}
.inputText.error {
  border: 1px solid red;
  width: 320px;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
}
.user-pass {
  font-size: 14px;
  font-size: medium;
  color: #412d26;
}
.error-message {
  color: #f71616;
  margin-top: 5px;
}
