.buttonTab {
  font-size: 15px;
  color: #d9d9d9;
  padding: 10px;
  margin: 15px;
  border-bottom: 2px solid #d9d9d9;
  overflow: hidden;
}
.buttonTab:hover {
  font-size: 15px;
  color: #704332;
  background-color: #d9d9d9 !important;
}
.buttonSelected {
  color: #704332;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  margin: 15px;
  border-bottom: 2px solid #704332;
}

.header {
  display: flex;
  /* position: sticky; */
  top: 62px;
  background-color: #f9f8fb;
  z-index: 3;
}
