.bill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bill-items {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  /* margin-left: 4%;
  margin-right: 4%; */
  justify-content: space-between;
}

.bill-item-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bill-item-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.imgDrink {
  width: 20%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin-left: 7%;
  margin-right: 5%;
  align-items: center;
  justify-content: center;
}
.info-row {
  display: flex;
  justify-content: space-between;
}
.leftInfo {
  margin-left: 0%;
  width: 50%;
}
.option {
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  color: black
}
.price {
  font-family: Montserrat, sans-serif;
  margin-left: 6%;
  font-weight: "bold";
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.name {
  font-family: Montserrat, sans-serif;
  font-size: 1.3em;
  font-weight: "bold";
}
.value {
  color: red;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
}
.span {
  font-family: Montserrat, sans-serif;
  font-weight: "bold";
  font-size: 1em;
  align-items: center;
  justify-content: center;
  text-align: center;
}
